@page "/"
@inject MonkeyService monkeyService

<div>
    <table>
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Ubicación</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var monkey in monkeys)
            {
                <tr>
                    <td><img src="@monkey.Image" alt="@monkey.Name" width="100" /></td>
                    <td>@monkey.Name</td>
                    <td>@monkey.Location</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<Monkey>? monkeys = new();

    protected override async Task OnInitializedAsync()
    {
        monkeys = await monkeyService.GetMonkeys();
    }
}
